@model CIDemo.Web.Models.CalculatorViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Fibonacci Calculator</h2>

<div class="text-danger field-validation-error">
    @Html.ValidationSummary(false)
</div>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>n=</label>
        <input type="number" name="@Html.NameFor(o => o.N)" value="@Model.N"/>
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Calculate" />
    </div>
    <div class="form-group">
        <label>Result</label>
        <textarea rows="5" class="form-control" name="@Html.NameFor(o => o.Result)">@Model.Result</textarea>
    </div>
}
